@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
       @foreach(var claim in context.User.Claims)
                {
           <p>@claim.Type</p>
                <p>@claim.Value</p>
                }
        <p>@context.User.Identity.AuthenticationType</p>
    </Authorized>
    <NotAuthorized>
        <h1>Authentication Failure!</h1>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>