@page "/"
@inject HttpClient Http

@if (hasLoaded)
{
    @if (season != null)
    {
        <h1>Current Season is @season.Name</h1>
    }
    else
    {
        <h1>No season is currently active</h1>
    }
}
else
{
<LoadingSpinner />
}


@code {
    private SeasonViewModel season;
    private bool hasLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            season = await Http.GetFromJsonAsync<SeasonViewModel>("/api/Season/GetCurrent");
            hasLoaded = true;
        }
        catch (Exception ex)
        {
            hasLoaded = true;
            Console.WriteLine(ex.ToString());
        }
    }
}