@page "/"
@inject HttpClient Http

@if (season != null)
{
    <h1>Current Season is @season.Name</h1>
}
else
{
    <h1>No season is currently active</h1>
}

@code {
    private SeasonViewModel season;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            season = await Http.GetFromJsonAsync<SeasonViewModel>("/api/GetCurrentSeason");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}