@page "/"
@inject HttpClient Http

<AuthorizeView>
    <Authorized>
        <p>Welcome @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>


@if (season != null)
{
    <h1>Current Season is @season.Name</h1>
}
else
{
    <h1>No season is currently active</h1>
}


@code {
    private SeasonViewModel season;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            season = await Http.GetFromJsonAsync<SeasonViewModel>("/api/GetCurrentSeason");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}