@page "/addseason"
@using SeasonVoting.Shared
@inject HttpClient Http
@inject NavigationManager NavManager

<h2>Add a new Season</h2>
<EditForm Model="@season">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Name:
            <InputText @bind-Value="season.Name" />
        </label>
    </p>
    <p>
        <label>
            Start Date:
            <InputDate @bind-Value="season.StartDate" />
        </label>
    </p>
    <p>
        <label>
            End Date:
            <InputDate @bind-Value="season.EndDate" />
        </label>
    </p>

    <MatButton Raised="true" class="btn btn-primary" @onclick="AddNewSeason">Add</MatButton>

</EditForm>


@code {
    private SeasonViewModel season = new SeasonViewModel();

    protected override async Task OnInitializedAsync()
    {
        await GetDefaultNextSeason();
    }

    private void AddNewSeason()
    {
        try
        {
            Http.PostAsJsonAsync("/api/AddSeason", season);
            NavManager.NavigateTo("/season",true);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private async Task GetDefaultNextSeason()
    {

        try
        {
            season = await Http.GetFromJsonAsync<SeasonViewModel>("/api/GetDefaultNextSeason");
        }
        catch (Exception ex)
        {
            season = null;
            Console.WriteLine(ex.ToString());
        }
    }

}
