@page "/AddSeries"
@inject HttpClient Http
@inject NavigationManager NavManager

<h2>Add a new Series</h2>
<EditForm Model="@series">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <MatTextField Label="Name" @bind-Value="series.Name" />
    </p>
    <p>
        <MatInputTextComponent Label="Description" @bind-Value="series.Description" />
    </p>

    <MatButton @onclick="Cancel">Cancel</MatButton>
    <MatButton Raised="true" @onclick="AddNewSeries">Add</MatButton>

</EditForm>


@code {
    private SeriesViewModel series = new SeriesViewModel();

    protected override async Task OnInitializedAsync()
    {
        await ConstructSeries();
    }

    private void AddNewSeries()
    {
        try
        {
            Http.PostAsJsonAsync("/api/Series/Add", series);
            NavManager.NavigateTo("/currentseries", true);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private async Task ConstructSeries()
    {
        try
        {
            series = await Http.GetFromJsonAsync<SeriesViewModel>("/api/Series/Construct");
        }
        catch (Exception ex)
        {
            series = null;
            Console.WriteLine(ex.ToString());
        }
    }

    private void Cancel()
    {
        NavManager.NavigateTo("/currentseries");
    }
}
