@page "/currentseries"
@inject HttpClient Http;
@inject NavigationManager NavManager;

<h2>Current Series</h2>

@if (currentSeries != null)
{
    foreach (var series in currentSeries)
    {
        <MatCard>
            <MatCardContent>
                <MatBlazor.MatHeadline6>@series.Name</MatBlazor.MatHeadline6>
                <MatSubtitle2>@series.Tiers.Count Tiers</MatSubtitle2>
                <MatBody1>@series.Description</MatBody1>
            </MatCardContent>
            <MatCardActions>
                <MatButton @onclick="() => EditSeries(series)">View</MatButton>
            </MatCardActions>
        </MatCard>
    }
}
<MatButtonLink href="addseries">Add a new Series</MatButtonLink>

@code {
    private List<SeriesViewModel> currentSeries;

    protected override async Task OnInitializedAsync()
    {
        await GetCurrentSeries();
    }

    private async Task GetCurrentSeries()
    {

        try
        {
            currentSeries = await Http.GetFromJsonAsync<List<SeriesViewModel>>("/api/Series/GetCurrent");
        }
        catch (Exception ex)
        {
            currentSeries = null;
            Console.WriteLine(ex.ToString());
        }
    }

    private void EditSeries(SeriesViewModel series)
    {
        NavManager.NavigateTo($"/EditSeries/{series.Id}");
    }
}
